.home-login {
  width: 100%;
  height: 49rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.overlay {
  position: absolute;
  height: 90%;
  width: 100%;
  background: transparent;
  top: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}

.login-container {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
}

h4 {
  padding-right: 1rem;
}

.register {
  font-size: 25px;
  margin-top: 1rem;
  text-align: center;
}
